
@font-face {
    font-family: 'King Of The Hill';
    src: url('fonts/KingOfTheHill.woff2') format('woff2'),
         url('fonts/KingOfTheHill.woff') format('woff'),
         url('fonts/KingOfTheHill.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'King Of The Hill 2';
    src: url('fonts/KingOfTheHill2.woff2') format('woff2'),
         url('fonts/KingOfTheHill2.woff') format('woff'),
         url('fonts/KingOfTheHill2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
  background-image: url("../images/fence-background-smaller-sharp.png");
  box-sizing: border-box;
  font-family: "King of the Hill 2";
  font-size: 2rem;
  color: rgb(244, 251, 172) ;
  text-shadow: -2px 2px black;
  cursor: default;
}

h1 {
  font-size: 5rem;
  text-align: center;
  color: red;
  text-shadow: -4px 3px #000000;
}

h3 {
  padding-top: 10px;
}

img {
  width: 300px;
  height: 225px;
  border: 1px solid black;
  border-radius: 8px;
}

.title {
  margin-top: 50px;
}

main {
  text-align: center;
  width: 75%;
  margin: auto;
  margin-top: 120px;
}

#start {
  margin-top: 10rem;
  text-align: center;
}

#time-remaining {
  color: rgb(21, 255, 0);
}

#question, #time-remaining {
  padding-bottom: 15px;
}

.choice {
  width: 50%;
  margin: auto;
}

button {
  font-family: "King Of The Hill 2";
  background-color: white;
  font-size: 3rem;
  padding: 5px 12px;
  border-radius: 6px;
  border: 1px solid #000000;
}

#game-board, #final-score {
  display: none;
}

#reset {
  padding-top: 40px;
}

p {
  font-size: 1.75rem;
  margin: 5px;
}

p:hover {
  cursor: pointer;
  color: rgb(248, 98, 98); 
}

#final-score div {
  margin: 5px;
}
